modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 40776410
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/api/server.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
